{% extends "recipes/base.html" %}

{% block head_title %}
    New Recipe
{% endblock head_title %}

{% block content %}
    <div>
        <form method='POST' action='/recipes/add/' enctype='multipart/form-data'>
            {% csrf_token %}

            {% include 'recipes/recipe_form.html' %}

            <button name="submit" type='submit' class="btn btn-success">Create Recipe</button>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('.ingredient-container').formset({
                prefix: '{{ ingredients_formset.prefix }}'
            });

            $('.step-container').formset({
                prefix: '{{ steps_formset.prefix }}'
            });
        });
    </script>
{% endblock content %}
