{% extends "recipes/base.html" %}

{% block head_title %}
New Recipe
{% endblock head_title %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<form method='POST' action='http://localhost:3000/recipes/add/'>
    {% csrf_token %}
    <h1>New Recipe</h1>
    {{ Recipe_Form.as_p }}

    <h3>Ingredients</h3>
    {{ Ingredient_Forms.management_form }}
    {% for form in Ingredient_Forms %}
        {{ form.as_p }}
    {% endfor %}

    <h3>Steps</h3>
    {{ Step_Forms.management_form }}
    {% for form in Step_Forms %}
        {{ form.as_p }}
    {% endfor %}

    <button name="submit" type='submit' class="btn btn-default">Add Recipe</button>
</form>
</div>
{% endblock content %}
