<!DOCTYPE html>
<html>
<body>
<form method='POST' action='/recipes/add/'>
    {% csrf_token %}
    <h1>Recipe Information</h1>
    {{ Recipe_Form.as_p }}

    <h3>Ingredients</h3>
    {{ Ingredient_Forms.management_form }}
    {% for form in Ingredient_Forms %}
        {{ form.as_p }}
    {% endfor %}

    <h3>Steps</h3>
    {{ Step_Forms.management_form }}
    {% for form in Step_Forms %}
        {{ form.as_p }}
    {% endfor %}

    <button name="submit" type='submit'>Add Recipe</button>
	<p><a href="/recipes/">cancel</a></p>
</form>
</body>
</html>


