{% extends "recipes/base.html" %}

{% block head_title %}
    {{ recipe.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div>
        <div id="recipe-image-container" {% if recipe.recipe_pic %} style="background-image: url('{{ recipe.recipe_pic.url }}')" {% endif %}>
            <div id="recipe-title">
                <h1>{{ recipe.title }}</h1>
            </div>
        </div>

        <h1>Ingredients</h1>
        <div id="ingredients-container">
            {% for ingredient in recipe.ingredient_set.all %}
                <div class="ingredient-tag">
                    <div class="ingredient-piece">{{ ingredient.name }}</div>
                    <div id="ingredient-qunatity" class="ingredient-piece">
                        {{ ingredient.quantity }} {{ ingredient.quantity_type.name }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id=" description-container">
            <span>{{ recipe.description }}</span>
        </div>

        <small>{{ recipe.created }} by {{ user_full_name }}</small>

        <p>Prep Time: {{ recipe.prep_time }}</p>

        <p>Steps:</p>
        <ol>
            {% for step in recipe.step_set.all %}
                <li>{{ step.description|linebreaks }}</li>
            {% endfor %}
        </ol>

        {% if user.is_authenticated and user.id == recipe.userid %}
            <p><a href="/recipes/{{ recipe.rid }}/edit/" class="btn btn-default">edit recipe</a></p>
            <p><a href="/recipes/{{ recipe.rid }}/delete/" class="btn btn-default">delete recipe</a></p>
        {% endif %}
        <p><a href="/recipes/" class="btn btn-default">Back</a></p>

        <hr/>

        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like"
             data-size="small" data-show-faces="true"
             data-share="true"></div>

        <p>
            |<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
            Share on Twitter
        </a>|

            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
                Share on Reddit
            </a>|
        </p>

        <hr/>

        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

    </div>
{% endblock content %}
