{% extends "recipes/base.html" %}

{% block head_title %}
    {{ recipe.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="recipe-main">
        <div class="row">
        <div class="col-md-4">
            <div id="recipe-title" class="row">
                
                <div class="col-md-12 ">
                    <h2>{{ recipe.title }}</h2>
                    <h4>By : {{ user_full_name }}</h4>
                </div>
                <div class="col-md-12">
                     <div class="col-xs-12 col-md-6 text-center">
                        <h1 class="rating-num">
                            4.0</h1>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>1,050,008 total
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <p>I lliked this so much!</p>
                        <footer>Anonymous foodie
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>


            <div class="col-md-7 col-md-offset-1">
                <div id="recipe-image-container" {% if recipe.recipe_pic %} style="background-image: url('{{ recipe.recipe_pic.url }}')" {% endif %}>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Ingredients</h1>
            </div>
        </div>
        <div class="row">
        <div id="ingredients-container">
            {% for ingredient in recipe.ingredient_set.all %}
                <div class="ingredient-wrap">
                    <table width="100%">
                        <tr>
                            <td width="75%">
                                <div class="ingredient-tag">
                                    <div class="ingredient-piece">{{ ingredient.name }}</div>
                                </div>
                            </td>
                            <td width="20%">
                                <div id="ingredient-quantity" class="ingredient-piece">
                                    {% load recipe_filters %}
                                    {{ ingredient|format_quantity }} {{ ingredient.quantity_type.short_name }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        </div>
        <div style="clear: both"></div>

        <div id="description-container">
            <span>{{ recipe.description }}</span>
        </div>

        <small>{{ recipe.created }} by {{ user_full_name }}</small>

        <p>Prep Time: {{ recipe.prep_time }}</p>
        
        {% if user.is_authenticated %}
            {% if favourited %}
                <p><a href="/recipes/{{ recipe.rid }}/remove" class="btn btn-default">remove from favourites</a></p>
            {% else %}
                <p><a href="/recipes/{{ recipe.rid }}/favourite" class="btn btn-default">add to favourites</a></p>
            {% endif %}
        {% endif %}

        <p>Steps:</p>
        <ol>
            {% for step in recipe.step_set.all %}
                <li>{{ step.description|linebreaks }}</li>
            {% endfor %}
        </ol>

        {% if user.is_authenticated and user.id == recipe.userid %}
            <p><a href="/recipes/{{ recipe.rid }}/edit/" class="btn btn-default">edit recipe</a></p>
            <p><a href="/recipes/{{ recipe.rid }}/delete/" class="btn btn-default">delete recipe</a></p>
        {% endif %}
        <p><a href="/recipes/" class="btn btn-default">Back</a></p>

        <hr/>

        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like"
             data-size="small" data-show-faces="true"
             data-share="true"></div>

        <p>
            |<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
            Share on Twitter
        </a>|

            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
                Share on Reddit
            </a>|
        </p>

        <hr/>

        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>
    <script>
        $(document).ready(function () {
            $('.ingredient-wrap:nth-child(3n+1)').each(function () {
                $(this).add($(this).next().next().addBack()).wrapAll('<div style="float:left"></div>');
            });
        })
    </script>
{% endblock content %}
