<div id="recipe-container">
    <h2>Basic Info</h2>
    <div class="form-group">
        <div id="recipe-title">
            {{ recipe_form.title.label_tag }}
            {{ recipe_form.title }}
        </div>
        <div id="recipe-title">
            {{ recipe_form.description.label_tag }}
            {{ recipe_form.description }}
        </div>
        <div id="prep-time">
            {{ recipe_form.prep_time.label_tag }}
            {{ recipe_form.prep_time }}
        </div>
        <div id="prep-time">
            {{ recipe_form.recipe_pic.label_tag }}
            {{ recipe_form.recipe_pic }}
        </div>
    </div>
</div>

<div id="ingredients-container">
    <h2>Edit Ingredients</h2>
    {{ ingredients_formset.management_form }}
    <div class="ingredients">
        {% for form in ingredients_formset %}
            <div class="ingredient-container">
                <div class="ingredient-field ingr-name">
                    {{ form.name }}
                </div>
                <div class="ingredient-field ingr-quant">
                    {{ form.quantity }}
                </div>
                <div class="ingredient-field ingr-quant-type">
                    {{ form.quantity_type }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div id="steps-container">
    <h2>Edit Steps</h2>
    <div class="steps">
        {{ steps_formset.management_form }}
        {% for step_form in steps_formset %}
            <div class="step-container">
                <div class="step-field step-order">
                    {{ step_form.order }}
                </div>
                <div class="step-field step-description">
                    {{ step_form.description }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>