{% extends "recipes/base.html" %}
{% load static from staticfiles %}
{% block head_title %}
Tips
{% endblock head_title %}

{% block content %}
<h1>Tips</h1>
<hr class="colorhr">
<div id="youtube-tip-videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wHRXUeVsAQQ" frameborder="0"
            allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-av6cz9upO0" frameborder="0"
            allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cMmEvCNTEgM" frameborder="0"
            allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NlnOsnr94qM" frameborder="0"
            allowfullscreen></iframe>
</div>
{% endblock content %}

{% block endbody %}

{% endblock endbody %}