{% extends "recipes/base.html" %}

{% block head_title %}
    Search Results
{% endblock head_title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
		<h1>Search Results</h1>
		
		{% if recipes_list %}
			<ul>
			{% for r in recipes_list %}
				{% for i in ingredients_list %}
					{% ifequal r.rid i.rid.rid %}
						<li><a href="/recipes/{{ r.rid }}">{{ r.title }}</a></li>
					{% endifequal %}
				{% endfor %}
			{% endfor %}
			</ul>
		{% else %}
			<p>No queries.</p>
		{% endif %}
		
		{% if ingredients_list %}
			<ul>
			{% for i in ingredients_list %}
			<li><a href="/recipes/{{ i.rid.rid }}">{{ i.rid.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No queries.</p>
		{% endif %}
		
        <div class="pagination">
            <span class="step-links">
			 {% if recipe_names.has_previous %}
                 <a href="?page={{ recipe_names.previous_page_number }}"><<</a>
             {% endif %}
            </span>
            <span class="current">
					 Page {{ recipe_names.number }} of {{ recipe_names.paginator.num_pages }}
			 </span>
            </span>
            {% if recipe_names.has_next %}
                <a href="?page={{ recipe_names.next_page_number }}">>></a>
            {% endif %}
            </span>
        </div>
    </div>

{% endblock content %}
