<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/home/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static "admin.css" %}">

    {% block head %}

    {% endblock %}
</head>
<body>
{% include "global/navbar.html" %}
{% block page %}
    {#    Content    #}
{% endblock %}

<div class="container marketing">
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>

<script src="/static/home/js/jquery.min.js"></script>
<script src="/static/home/js/bootstrap.min.js"></script>
<script src="/static/home/js/jquery.formset.js"></script>
<script src="/static/recipes/js/masonry.pkgd.min.js"></script>
<script src="/static/recipes/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/recipes/js/mason.js"></script>

{% block endbody %}
{% endblock %}
</body>
</html>
