h1 {
    color: #777777;
}

.ingredient-container{
    margin-bottom: 10px;
}

.ingredient-field {
    display: inline-block;
}

.ingredient-field input{
    width: 100%;
}

.ingr-name{
    width: 175px;
}

.ingr-quant{
    width: 75px;
}

.ingr-quant-type{
    width: 150px;
}